# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Models / large artifacts
models/
checkpoints/

# Data
data/
Practices/Use Case 1 (Health)/02_FedAvg/federated_data
Practices/Use Case 1 (Health)/diabetes_data/diabetic_data.csv
Practices/Use Case 1 (Health)/diabetes_data/IDS_mapping.csv
Practices/Use Case 1 (Health)/00_DataAnalysis/figures/
Practices/Use Case 1 (Health)/03_FedGen/prototypes_class0.npy
Practices/Use Case 1 (Health)/03_FedGen/prototypes_class1.npy
Practices/Use Case 1 (Health)/03_FedGen/figures/
Practices/Use Case 1 (Health)/federated_data/